HELP.md
.gradle
build/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### Strange file
memory

### Test DB file
rainments-test.db

### Initial data
db/initial

### Log files
logs/*.log
logs/*log*.gz